{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            dump


            <div class="row">
                {% for company in companies %}
                    <div class="col-md-2 padding5">
                        <div class="thumbnail_container">
                            <div class="thumbnail">
                                <img src="{{ asset('files/company/logo/' ~ company.logo) }}"/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

    {#<a href="{{ path('customer_registration') }}">#}
    {#<i class="fa fa-home"></i> {{ 'Register As customer'|trans }}#}
    {#</a>#}
{% endblock %}
