<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <img src="{{ asset('templateV2/images/o/partners-f.png') }}"
                 class="img-responsive">
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <img src="{{ asset('templateV2/images/o/discounts-f.png') }}"
                 class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <img src="{{ asset('templateV2/images/o/customer-service-f.png') }}"
                 class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <img src="{{ asset('templateV2/images/o/contact-us-f.png') }}"
                 class="img-responsive">
        </div>
    </div>
</div>