
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center col-centered">
            <div class="alert alert-danger">

                {{ flashMessage }}
            </div>
        </div>
    </div>
{% endfor %}


{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center col-centered">
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        </div>
    </div>

{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center col-centered">
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        </div>
    </div>

{% endfor %}

