{% extends 'base.html.twig' %}
{% block body %}
    <section id="vendoredit-reg" class="container">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-centered">
            <ul>
                <li>Company Name: {{ companyDelegate.company.name }}</li>
                <li>Website: {{ companyDelegate.company.url }}</li>
                <li>Logo: <img src="{{ asset("files/company/logo/") }}{{ companyDelegate.company.logo }}" alt="" width="150" height="150"> </li>

            </ul>
        </div>
    </div>
    </section>



{% endblock %}