<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'Confirm deletion ?'|trans }}
            </div>
            <div class="modal-body">
                {{ 'Confirm deletion ?'|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
    <section id="vendoredit-reg">
        <div class="row">
        {% for discount in discounts %}
            <div class="col-md-3 padding5">
                <h3>{{ discount.title }}</h3>
                <div class="thumbnail_container">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{ asset("files/company/discounts/") }}{{ company_del.company.id }}/{{ discount.promotion }}" alt=""></a>
                    </div>
                </div>
                <div>{{ 'Start Date'|trans }}: {{ discount.startDate.format('d-M-Y') }}</div>
                <div>{{ 'End Date'|trans }}: {{ discount.endDate.format('d-M-Y') }}</div>
                <div class="actions"> <a href="#" ><i class="fa fa-edit"></i></a> || <a href="#" class="discount_del" data-href="delete.php?id=23" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i></a>

                </div>

<br />
<br />
            </div>

        {% endfor %}
        </div>

    </section>

<script>

    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>